* {
    box-sizing: border-box;
}

body {
    background-image: url(https://i.ibb.co/WxtbK12/Background.png); 
    background-size: cover;
    background-attachment: fixed;
    background-color: #a7e3e0;
    min-height: 100vh;
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
}

@media (min-width: 768px) {
    body {
        position: relative;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}


.mainWrap {
    background: whitesmoke;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: #a7e3e0;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
}

h1:hover {
    color: #74c4bc;
}

h2:hover {
    color: #74c4bc;
}

/* header */
.logoImg img {
    border: 2px solid #274354;
    border-radius: 4px;
}

.topNavBarLi:hover {
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}

header img {
    height: 50px;
    width: 150px;
}

/* end header */

/* hero */
.hero img {
    height: 100%;
    width: 100%;
}

.heroText h1 {
    margin-top: 30px;
}

@media (max-width:551px) {
    .heroText {
        display: none;
    }
}

.mainHeading {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.mainHeading ul {
    margin-left: 0;
    list-style-type: none;
}

.mainHeadLastLi {
    width: 70%;
    margin-left: 0;
}

@media (min-width: 550px) {
    .mainHeading {
        display: none;
    }
}

/* end hero */

/* PORTFOLIO */

.portfolioTopRow {
    margin-top: 30px;
}

.portfolioBottomRow {
    margin-top: 40px;
}

.projectDiv, .certDiv {
    height: 250px;
    margin-top: 25px;
}

.projectDiv img {
    height: 100%;
    width: 100%;
    border: 3px solid #274354;
    border-radius: 2px;
}

.projectImgLink:hover {
    background: #4c7878;
    border-radius: 4px;
    padding: 5px;
}

.portfolio h1 {
    text-align: center;
    margin-top: 25px;
}


/* END PORTFOLIO */


/* footer */

footer {
    width: 100vw;
    /* position:fixed;
    bottom: 0; */
    background:#627d73;
}

.footerBox {
    border: 3px solid #274354;
    border-radius: 2px;
}

.footPreviewImg {
    height: auto;
    width: 100%;
}

.footerAbout, .footerTechSkills, .footerProject {
    text-align: center;
}

.projectImgLink:hover {
    border: 1px solid #a7e3e0;
}

.latestProjectViewLink {
    text-align: center;
    padding: 5px;
}

.latestProjectViewLink:hover {
    border: 1px solid white;
    border-radius: 4px;
    margin: 2px 40px;
}

.skillWrap {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 800;
    border-bottom: 1px dotted #274354;
}

.skillColor {
    color: #674f36;
}

.skillAlign {
    text-align: center;
    padding: 0 5px;
}

.skillBorderR {
    border-right: 1px dotted #274354;
    padding-right: 10px;
}

.skillBorderRL {
    border-right: 1px dotted #274354;
    border-left: 1px dotted #274354;
    padding: 0 15px;
}

@media (max-width: 980px), (min-width: 766px) {
    .techSkills {
        border: none;
        display: flex;
        flex-direction: column;
    }

    .skillBorderR, .skillBorderRL, .skillWrap {
        border: none;
    }

    .skillWrap p {
        text-align: center;
        line-height: 15px;
    }
}


.skillAlign:hover {
    font-size: 22px;
}

.colophon, header {
    background: #647d7c;
}

.socialLinksNav li {
    margin-left: 10px;
}
/* end footer */


